In [1]:
import pandas as pd

In [2]:
stations_info = pd.read_csv('data/stations/stations.csv')
stations_data = pd.read_csv('data/stations/2023/05/2023-05-10-stations.csv')
prices_data = pd.read_csv('data/prices/2023/05/2023-05-10-prices.csv')

## station info
- cities name: lowercase cities and the same cities with uppercase
- one city with latitude and longitude zero
- for some station the house number are written in the street name

In [3]:
stations_info.head(10)

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude
0,00060723-0001-4444-8888-acdc00000001,BAGeno Raiffeisen eG,NaN,Künzelsauer Strasse,7,74653,Ingelfingen,49.296822,9.661385
1,005056ba-7cb6-1ed2-bceb-5332ab168d12,famila Tankstelle,FAMILA,Pascalstrasse,9,25442,Quickborn,53.742150,9.941240
2,005056ba-7cb6-1ed2-bceb-573c18314d16,star Tankstelle,STAR,Riehler Strasse,240,50735,Köln,50.961800,6.980070
3,005056ba-7cb6-1ed2-bceb-662ba1a94d1f,star Tankstelle,STAR,BAB 10 / Seeberg Ost,NaN,15345,Altlandsberg,52.550160,13.682120
4,005056ba-7cb6-1ed2-bceb-6f7b23564d23,star Tankstelle,STAR,Duisburger Straße,130,47166,Duisburg,51.489790,6.783730
5,005056ba-7cb6-1ed2-bceb-87f71ccd4d30,star Tankstelle,STAR,Hochdahler Straße,127,40724,Hilden,51.176260,6.938810
6,005056ba-7cb6-1ed2-bceb-8cf3efd04d33,star Tankstelle,STAR,Coswigerstraße,5,39261,Zerbst,51.961130,12.099880
7,005056ba-7cb6-1ed2-bceb-9c6b14bcad3c,star Tankstelle,STAR,Monschauer Straße,69,52355,Dueren,50.793440,6.470570
8,005056ba-7cb6-1ed2-bceb-a256fd5a8d3e,star Tankstelle,STAR,Klausdorfer Straße,121,24161,Altenholz,54.405970,10.123240
9,005056ba-7cb6-1ed2-bceb-a86eb5988d41,star Tankstelle,STAR,Gasanstalt,4,06311,Helbra,51.555390,11.487840

In [4]:
stations_info.info()
stations_info['brand'].value_counts().sort_values(ascending= False)
#stations_info['city'].value_counts().sort_values(ascending= False)  
#stations_info[stations_info['latitude'] == 0].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15442 entries, 0 to 15441
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uuid          15442 non-null  object
 1   name          15442 non-null  object
 2   brand         14898 non-null  object
 3   street        15440 non-null  object
 4   house_number  11764 non-null  object
 5   post_code     15440 non-null  object
 6   city          15439 non-null  object
 7   latitude      15442 non-null  float64
 8   longitude     15442 non-null  float64
dtypes: float64(2), object(7)
memory usage: 1.1+ MB

brand
ARAL                                       2378
Shell                                      1791
ESSO                                       1066
TOTAL                                       893
AVIA                                        753
                                           ...
Raiffeisenbank Oberstadion                    1
Tankstelle Senftl                             1
BFT Eilsleben                                 1
Schillhorn Mineralöle GmbH Süderhastedt       1
gelöscht                                      1
Name: count, Length: 899, dtype: int64

In [5]:
stations_info['street'].value_counts()
stations_info['street'].unique()
stations_info[stations_info['post_code'].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude
6381,6d4bfcc4-44ba-4884-a8b5-72e36dfb7582,bft Tankstelle,BFT Tankstelle,Weilburger Str.,17,NaN,Breitscheid-Rabenscheid,50.681303,8.148122
13834,4e8ecfc5-5d0d-4463-901b-6b9ff8fee510,01_test,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000

In [6]:
stations_info[stations_info['uuid'] == '4e8ecfc5-5d0d-4463-901b-6b9ff8fee510' ] 
stations_info['house_number'].isnull().sum()
stations_info['street'][stations_info['house_number'].isnull()]

3             BAB 10 / Seeberg Ost
15        KAISER-FRIEDRICH-STR. 95
20               Autozubringer Süd
26          Industriestr./Heideweg
28                    STEINSTR. 12
                   ...
15413    JUSTUS-VON-LIEBIG-STR. 25
15429        LEIPZIGER CHAUSSEE 26
15430           MAHLSDORFER STR 18
15435             EINTRACHTSTR. 54
15438           Thomas-Edison-Str.
Name: street, Length: 3678, dtype: object

In [7]:
#!pip install folium
import folium

# Create a map centered on the city
city = "Breitscheid-Rabenscheid"
location = (50.681303,	8.148122) # Latitude and longitude of Munich
map = folium.Map(location=location, zoom_start=12)

# Add a marker for each gas station in the city
for i, row in stations_data[stations_data["city"] == city].iterrows():
    folium.Marker([row["latitude"], row["longitude"]], popup=row["name"]).add_to(map)

# Display the map
map

In [8]:
stations_data.head()

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
0,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.180700,11.460900,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":192,""perio..."
1,44e2bdb7-13e3-4156-8576-8326cdd20459,bft Tankstelle,NaN,Schellengasse,53,36304,Alsfeld,50.752009,9.279039,1970-01-01 01:00:00+01,{}
2,ad812258-94e7-473d-aa80-d392f7532218,bft Bonn-Bad Godesberg,bft,Godesberger Allee,55,53175,Bonn,50.695100,7.142760,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":31,""period..."
3,e3847b06-6c52-4de2-a8ce-84d97ec13a4e,Shell Oberhausen Weseler Str. 51,Shell,Weseler Str.,51,46149,Oberhausen,51.525355,6.841736,2014-03-18 16:45:31+01,"{""openingTimes"":[{""applicable_days"":63,""period..."
4,e3972506-6546-4ba8-a597-e99187ae9c97,Aral Tankstelle,ARAL,Rheinstraße,18,55435,Gau-Algesheim,49.964874,8.017713,2014-03-18 16:45:31+01,"{""openingTimes"":[{""applicable_days"":31,""period..."

In [9]:
stations_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16885 entries, 0 to 16884
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   uuid               16885 non-null  object
 1   name               16884 non-null  object
 2   brand              16180 non-null  object
 3   street             16883 non-null  object
 4   house_number       15880 non-null  object
 5   post_code          16884 non-null  object
 6   city               16881 non-null  object
 7   latitude           16885 non-null  float64
 8   longitude          16885 non-null  float64
 9   first_active       16885 non-null  object
 10  openingtimes_json  16885 non-null  object
dtypes: float64(2), object(9)
memory usage: 1.4+ MB

In [10]:
stations_data[stations_data['name'].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
16391,00062652-734d-4444-8888-acdc00000001,NaN,Günstige Tankstelle Schaal,Abstatterstr.,57,74199,Untergruppenbach,0.0,0.0,2021-09-30 22:01:16+02,{}

In [11]:
stations_data[stations_data['street'].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
14194,4e8ecfc5-5d0d-4463-901b-6b9ff8fee510,01_test,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,2015-05-27 00:00:01+02,{}
14684,5947e7a2-eb5b-4fc7-412b-22628e6405b8,Dörge Brennstoffe &,Dörge Brennstoffe & Dienstleistungen,NaN,NaN,39397,Schwanebeck,51.960184,11.121097,2016-09-17 00:00:01+02,"{""openingTimes"":[{""applicable_days"":31,""period..."

In [12]:
df_uuid = stations_data['uuid'].value_counts() 
df_uuid = df_uuid[df_uuid > 2]
df_uuid

Series([], Name: count, dtype: int64)

In [13]:
stations_data['openingtimes_json'][0]

'{"openingTimes":[{"applicable_days":192,"periods":[{"startp":"07:00","endp":"20:00"}]},{"applicable_days":63,"periods":[{"startp":"06:00","endp":"22:00"}]}]}'

# binary

In [14]:
# Use the bin() function to convert the decimal number to binary
binary_str = bin(128)

# The bin() function returns a string that starts with '0b' to indicate it is a binary representation
# To remove the '0b' prefix, we can slice the string starting from index 2
binary_str = binary_str[2:]
binary_str

'10000000'

In [15]:
(stations_data['openingtimes_json'] == '{}').value_counts()

openingtimes_json
False    8936
True     7949
Name: count, dtype: int64

In [16]:
import pandas as pd
import json

def get_days(day_code):
    days = []
    days_dict = {
        1: "Monday",
        2: "Tuesday",
        4: "Wednesday",
        8: "Thursday",
        16: "Freiday",
        32: "Saturday",
        64: "Sunday",
        128: "Holiday"
    }
    for code, day in days_dict.items():
        if day_code & code:
            days.append(day)
    return days

def extract_opening_times(row):
    opening_times_json = json.loads(row['openingtimes_json'])
    opening_times = []
    if 'openingTimes' in opening_times_json:
        for period in opening_times_json['openingTimes']:
            days = get_days(period['applicable_days'])
            start_time = period['periods'][0]['startp']
            end_time = period['periods'][0]['endp']
            opening_times.append({
                'days': days,
                'start_time': start_time,
                'end_time': end_time
            })
    return opening_times

# Apply the function to each row of the dataframe
stations_data['opening_times'] = stations_data.apply(extract_opening_times, axis=1)

In [17]:
# display the resulting dataframe
stations_data.head(3)

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json,opening_times
0,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.180700,11.460900,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":192,""perio...","[{'days': ['Sunday', 'Holiday'], 'start_time':..."
1,44e2bdb7-13e3-4156-8576-8326cdd20459,bft Tankstelle,NaN,Schellengasse,53,36304,Alsfeld,50.752009,9.279039,1970-01-01 01:00:00+01,{},[]
2,ad812258-94e7-473d-aa80-d392f7532218,bft Bonn-Bad Godesberg,bft,Godesberger Allee,55,53175,Bonn,50.695100,7.142760,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":31,""period...","[{'days': ['Monday', 'Tuesday', 'Wednesday', '..."

In [18]:
stations_data.head()

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json,opening_times
0,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.180700,11.460900,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":192,""perio...","[{'days': ['Sunday', 'Holiday'], 'start_time':..."
1,44e2bdb7-13e3-4156-8576-8326cdd20459,bft Tankstelle,NaN,Schellengasse,53,36304,Alsfeld,50.752009,9.279039,1970-01-01 01:00:00+01,{},[]
2,ad812258-94e7-473d-aa80-d392f7532218,bft Bonn-Bad Godesberg,bft,Godesberger Allee,55,53175,Bonn,50.695100,7.142760,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":31,""period...","[{'days': ['Monday', 'Tuesday', 'Wednesday', '..."
3,e3847b06-6c52-4de2-a8ce-84d97ec13a4e,Shell Oberhausen Weseler Str. 51,Shell,Weseler Str.,51,46149,Oberhausen,51.525355,6.841736,2014-03-18 16:45:31+01,"{""openingTimes"":[{""applicable_days"":63,""period...","[{'days': ['Monday', 'Tuesday', 'Wednesday', '..."
4,e3972506-6546-4ba8-a597-e99187ae9c97,Aral Tankstelle,ARAL,Rheinstraße,18,55435,Gau-Algesheim,49.964874,8.017713,2014-03-18 16:45:31+01,"{""openingTimes"":[{""applicable_days"":31,""period...","[{'days': ['Monday', 'Tuesday', 'Wednesday', '..."

In [19]:
stations_data['openingtimes_json'][3]

'{"openingTimes":[{"applicable_days":63,"periods":[{"startp":"06:00","endp":"00:00"}]},{"applicable_days":192,"periods":[{"startp":"08:00","endp":"22:00"}]}]}'

In [20]:
stations_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16885 entries, 0 to 16884
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   uuid               16885 non-null  object
 1   name               16884 non-null  object
 2   brand              16180 non-null  object
 3   street             16883 non-null  object
 4   house_number       15880 non-null  object
 5   post_code          16884 non-null  object
 6   city               16881 non-null  object
 7   latitude           16885 non-null  float64
 8   longitude          16885 non-null  float64
 9   first_active       16885 non-null  object
 10  openingtimes_json  16885 non-null  object
 11  opening_times      16885 non-null  object
dtypes: float64(2), object(10)
memory usage: 1.5+ MB

- In the following function, the **extract_opening_times** function creates an **opening_times** dictionary for each row of the input data frame with keys for each day of the week and holidays, and values for the start and end times of the working day specified by 'period'. The **opening_times** dictionary is returned by the function.

- The modified data frame is created by applying the **extract_opening_times** function to each row of the input data frame and converting the resulting **opening_times** dictionary into a separate data frame using the pd.Series constructor. The resulting data frames are concatenated horizontally using the pd.concat function and the original **openingtimes_json** column is dropped from the data frame using the drop method.

In [21]:
import pandas as pd
import json

def get_days(day_code):
    days_dict = {
        1: "Monday",
        2: "Tuesday",
        4: "Wednesday",
        8: "Thursday",
        16: "Friday",
        32: "Saturday",
        64: "Sunday",
        128: "Holiday"
    }
    days = []
    for code, day in days_dict.items():
        if day_code & code:
            days.append(day)
    return days

def extract_opening_times(row):
    opening_times_json = json.loads(row['openingtimes_json'])
    opening_times = {
        'Monday': {'start_time': '', 'end_time': ''},
        'Tuesday': {'start_time': '', 'end_time': ''},
        'Wednesday': {'start_time': '', 'end_time': ''},
        'Thursday': {'start_time': '', 'end_time': ''},
        'Friday': {'start_time': '', 'end_time': ''},
        'Saturday': {'start_time': '', 'end_time': ''},
        'Sunday': {'start_time': '', 'end_time': ''},
        'Holiday': {'start_time': '', 'end_time': ''}
    }
    if 'openingTimes' in opening_times_json:
        for period in opening_times_json['openingTimes']:
            days = get_days(period['applicable_days'])
            for day in days:
                opening_times[day]['start_time'] = period['periods'][0]['startp']
                opening_times[day]['end_time'] = period['periods'][0]['endp']
    return opening_times

# Apply the function to each row of the dataframe
opening_times_df = stations_data.apply(lambda row: pd.Series(extract_opening_times(row)), axis=1)
stations_data = pd.concat([stations_data, opening_times_df], axis=1)
stations_data.drop(['openingtimes_json'], axis=1, inplace=True)
stations_data.drop(['opening_times'], axis=1, inplace=True)

In [22]:
stations_data.head(10)

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Holiday
0,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.180700,11.460900,1970-01-01 01:00:00+01,"{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '07:00', 'end_time': '20:00'}","{'start_time': '07:00', 'end_time': '20:00'}"
1,44e2bdb7-13e3-4156-8576-8326cdd20459,bft Tankstelle,NaN,Schellengasse,53,36304,Alsfeld,50.752009,9.279039,1970-01-01 01:00:00+01,"{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}"
2,ad812258-94e7-473d-aa80-d392f7532218,bft Bonn-Bad Godesberg,bft,Godesberger Allee,55,53175,Bonn,50.695100,7.142760,1970-01-01 01:00:00+01,"{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '07:00', 'end_time': '22:00'}","{'start_time': '08:00', 'end_time': '22:00'}","{'start_time': '', 'end_time': ''}"
3,e3847b06-6c52-4de2-a8ce-84d97ec13a4e,Shell Oberhausen Weseler Str. 51,Shell,Weseler Str.,51,46149,Oberhausen,51.525355,6.841736,2014-03-18 16:45:31+01,"{'start_time': '06:00', 'end_time': '00:00'}","{'start_time': '06:00', 'end_time': '00:00'}","{'start_time': '06:00', 'end_time': '00:00'}","{'start_time': '06:00', 'end_time': '00:00'}","{'start_time': '06:00', 'end_time': '00:00'}","{'start_time': '06:00', 'end_time': '00:00'}","{'start_time': '08:00', 'end_time': '22:00'}","{'start_time': '08:00', 'end_time': '22:00'}"
4,e3972506-6546-4ba8-a597-e99187ae9c97,Aral Tankstelle,ARAL,Rheinstraße,18,55435,Gau-Algesheim,49.964874,8.017713,2014-03-18 16:45:31+01,"{'start_time': '05:00', 'end_time': '22:00'}","{'start_time': '05:00', 'end_time': '22:00'}","{'start_time': '05:00', 'end_time': '22:00'}","{'start_time': '05:00', 'end_time': '22:00'}","{'start_time': '05:00', 'end_time': '22:00'}","{'start_time': '06:00', 'end_time': '22:00'}","{'start_time': '07:00', 'end_time': '22:00'}","{'start_time': '', 'end_time': ''}"
5,e375b879-5c21-4e2d-87fa-a4db5aa100ee,Freie Tankstelle Freisinger Str 28 Marzling,NaN,Freisinger Straße,28,85417,Marzling,48.411006,11.796209,2014-03-18 16:45:31+01,"{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}"
6,e371ad23-529c-413b-8e0b-7e2dbc40dc7a,TotalEnergies Heilbronn,TotalEnergies,Kolpingstr.,32,74081,Heilbronn,49.122806,9.195898,2014-03-18 16:45:31+01,"{'start_time': '06:00', 'end_time': '20:00'}","{'start_time': '06:00', 'end_time': '20:00'}","{'start_time': '06:00', 'end_time': '20:00'}","{'start_time': '06:00', 'end_time': '20:00'}","{'start_time': '06:00', 'end_time': '20:00'}","{'start_time': '07:00', 'end_time': '20:00'}","{'start_time': '08:00', 'end_time': '20:00'}","{'start_time': '', 'end_time': ''}"
7,ffc069b0-c760-4e70-a24e-971eccf76dc0,Q1 Tankstelle,Q1,Mühlenstraße,23,49832,Freren,52.488800,7.543740,2014-03-18 16:45:31+01,"{'start_time': '07:00', 'end_time': '20:00'}","{'start_time': '07:00', 'end_time': '20:00'}","{'start_time': '07:00', 'end_time': '20:00'}","{'start_time': '07:00', 'end_time': '20:00'}","{'start_time': '07:00', 'end_time': '20:00'}","{'start_time': '07:30', 'end_time': '20:00'}","{'start_time': '09:30', 'end_time': '20:00'}","{'start_time': '', 'end_time': ''}"
8,038fbe8a-7f8c-4b4e-bd7a-f60f21adb8e6,Koch Tankstellen GmbH,Jantzon Tankstelle,Bahnhofstr.,18 - 20,21438,Brackel,53.302249,10.049787,2014-03-18 16:45:31+01,"{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}","{'start_time': '', 'end_time': ''}"
9,e3551f35-7f8e-466d-a719-4feb0b4ff70e,Esso Tankstelle,ESSO,BINDERSLEBENER LANDSTR. 100,,99092,ERFURT,50.972097,10.975135,2014-03-18 16:45:31+01,"{'start_time': '05:30', 'end_time': '20:00'}","{'start_time': '05:30', 'end_time': '20:00'}","{'start_time': '05:30', 'end_time': '20:00'}","{'start_time': '05:30', 'end_time': '20:00'}","{'start_time': '05:30', 'end_time': '20:00'}","{'start_time': '08:00', 'end_time': '18:00'}","{'start_time': '09:00', 'end_time': '18:00'}","{'start_time': '', 'end_time': ''}"

In [23]:
stations_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16885 entries, 0 to 16884
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uuid          16885 non-null  object
 1   name          16884 non-null  object
 2   brand         16180 non-null  object
 3   street        16883 non-null  object
 4   house_number  15880 non-null  object
 5   post_code     16884 non-null  object
 6   city          16881 non-null  object
 7   latitude      16885 non-null  float64
 8   longitude     16885 non-null  float64
 9   first_active  16885 non-null  object
 10  Monday        16885 non-null  object
 11  Tuesday       16885 non-null  object
 12  Wednesday     16885 non-null  object
 13  Thursday      16885 non-null  object
 14  Friday        16885 non-null  object
 15  Saturday      16885 non-null  object
 16  Sunday        16885 non-null  object
 17  Holiday       16885 non-null  object
dtypes: float64(2), object(16)
memory usage: 2.3+ MB

- The following function would calculate the pay for the specified UUID **('e3972506-6546-4ba8-a597-e99187ae9c97')** on the specified day **('Monday')** based on the start and end times in the corresponding dictionary in the DataFrame. Note that this function assumes that the start and end times are in the format **'%H:%M'**, and it assumes a default hourly rate of 10 euros per hour, with higher rates for certain brands (ARAL and Shell). You may need to adjust the function to fit your specific use case.

In [24]:
def calculate_payday(df, uuid, day):
    # Get the row for the specified UUID
    row = df[df['uuid'] == uuid].iloc[0]
    
    # Get the start and end times for the specified day
    hours = row[day]
    start_time = hours['start_time']
    end_time = hours['end_time']
    
    # Convert the times to datetime objects
    start_time = pd.to_datetime(start_time, format='%H:%M', errors='coerce')
    end_time = pd.to_datetime(end_time, format='%H:%M', errors='coerce')
    
    # Calculate the hours worked
    hours_worked = (end_time - start_time).total_seconds() / 3600
    
    # Calculate the hourly rate based on the brand (assuming a default rate of 10 euros per hour)
    hourly_rate = 10
    if row['brand'] == 'ARAL':
        hourly_rate = 12
    elif row['brand'] == 'Shell':
        hourly_rate = 15
    
    # Calculate the pay for the day
    pay = hours_worked * hourly_rate
    
    return pay

In [25]:
pay = calculate_payday(stations_data, 'e3972506-6546-4ba8-a597-e99187ae9c97', 'Monday')
print("the income is:",pay)

the income is: 204.0

The folowing function returns a boolean value indicating whether the gas station is open at the specified time on the specified day.

In [26]:
from datetime import datetime, timedelta

def is_station_open(uuid, day, hour):
    station = stations_data.loc[stations_data['uuid'] == uuid].iloc[0]
    start_time = station[day]['start_time']
    end_time = station[day]['end_time']
    if start_time == '' or end_time == '':
        return False
    start_hour, start_min = [int(x) for x in start_time.split(':')]
    end_hour, end_min = [int(x) for x in end_time.split(':')]
    opening_time = datetime.now().replace(hour=start_hour, minute=start_min, second=0, microsecond=0)
    closing_time = datetime.now().replace(hour=end_hour, minute=end_min, second=0, microsecond=0)
    if closing_time < opening_time:
        closing_time += timedelta(days=1)
    requested_time = datetime.now().replace(hour=hour, minute=0, second=0, microsecond=0)
    return opening_time <= requested_time <= closing_time


uuid = "e3972506-6546-4ba8-a597-e99187ae9c97"
day = "Monday"
hour = datetime.now().hour
print(is_station_open(uuid, day, hour))

True

In [27]:
stations_data[stations_data['uuid'] == 'e3972506-6546-4ba8-a597-e99187ae9c97']['Monday']

4    {'start_time': '05:00', 'end_time': '22:00'}
Name: Monday, dtype: object