In [676]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import datetime as dt
import pyarrow
import random

from pathlib import Path
import os
from collections import deque
from src.config.paths import ROOT_DIR, SAMPLE_DIR, PRICES_DIR, META_DIR, PROCESSED_PRICES

import src.fileutils as files
import src.visualization as viz
import src.process as process
from src import process_prices

from src.process_files import PriceProcessor, RawPriceProcessor

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [677]:
stations_info_file = ROOT_DIR / 'data' / 'stations.csv'
sample_file_location = SAMPLE_DIR
sample_price_location = SAMPLE_DIR / 'prices'

RSEED = 42

In [678]:
np.random.seed(RSEED)
import inspect

dus_stations_data = pd.read_csv(SAMPLE_DIR / 'stations' / 'stations_dus_plus.csv')
dus_stations = dus_stations_data.uuid

# Create a dataframe
df = pd.DataFrame({
    'datetime': [dt.datetime.now() - dt.timedelta(days=i) for i in range(10)],
    'string': ['string' + str(i) for i in range(10)],
    'integer': np.random.randint(0, 100, size=10),
    'float1': np.random.rand(10),
    'float2': np.random.rand(10),
})


# class return_one():
#     def __init__(self, data: pd.DataFrame, method=None):
#         self.one = 1
#         self.data = data
#         self.predefined_methods = {
#             'hourly': process_prices.make_hourly
#         }
#         self.set_method(method)
     
#     def set_method(self, method,):

#         if method is None:
#             self.method = None

#         elif type(method) == str:
#             if method not in self.predefined_methods:
#                 raise ValueError(f"{method} is not a a predefined method.")
#             self.method = self.predefined_methods[method]
        
#         elif inspect.isfunction(method):
#             params = inspect.signature(method).parameters.values()
#             if len(params) != 1:
#                 raise ValueError(f"{method} is required to take only 1 parameter but {len(params)} were given.")
#             self.method = method

#         else:
#             raise ValueError("Passed object is not a function or a predefined method")
    
#     def process_data(self, data: pd.DataFrame, method=None, **kwargs) -> pd.DataFrame:

#         if method:
#             self.set_method(method, **kwargs)
#         if self.method:
#             data = self.method(data, **kwargs)

#         else:
#             raise ValueError("The method process_data requires a method to be set, but None was given.")
#         return data
    
def some_function(data: pd.DataFrame)->pd.DataFrame:

    data = data.assign(
        float1 = lambda x: x['float1']*10
    )
    return data

def some_other_function(data: pd.DataFrame, multiplier = 10, add = 3)->pd.DataFrame:
    data = data.assign(
        float1 = lambda x: x['float1'] * multiplier + add
    )
    return data

subset = {
    'subset':dus_stations_data.uuid,
    'subset_column': 'station_uuid',

}
dus_stations_data = pd.read_csv(SAMPLE_DIR / 'stations' / 'stations_dus_plus.csv')

rawprocessor = RawPriceProcessor(PRICES_DIR, (PROCESSED_PRICES / 'test'), **subset)

In [679]:
one = 'data/prices/2021/08/2021-08-29-prices.csv'
two = 'data/prices/2021/08/2021-08-30-prices.csv'
three = 'data/prices/2021/08/2021-08-31-prices.csv'

rawprocessor.process_file(one)
display(rawprocessor.last_processed)
rawprocessor.process_file(two)
display(rawprocessor.last_processed)
rawprocessor.process_file(three)
display(rawprocessor.last_processed)

                                                                diesel     e5
station                              date
005056ba-7cb6-1ed2-bceb-7e82e4910d2a 2021-08-29 00:12:08+02:00   1.369  1.599  \
                                     2021-08-29 00:36:05+02:00   1.369  1.599
                                     2021-08-29 00:38:10+02:00   1.369  1.599
                                     2021-08-29 00:53:09+02:00   1.369  1.599
                                     2021-08-29 04:50:07+02:00   1.369  1.599
...                                                                ...    ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-29 23:09:08+02:00   1.369  1.599
                                     2021-08-29 23:10:07+02:00   1.369  1.599
                                     2021-08-29 23:12:07+02:00   1.369  1.599
                                     2021-08-29 23:17:09+02:00   1.369  1.599
                                     2021-08-29 23:19:08+02:00   1.369  1.599

                                                                  e10
station                              date
005056ba-7cb6-1ed2-bceb-7e82e4910d2a 2021-08-29 00:12:08+02:00  1.539  \
                                     2021-08-29 00:36:05+02:00  1.539
                                     2021-08-29 00:38:10+02:00  1.539
                                     2021-08-29 00:53:09+02:00  1.539
                                     2021-08-29 04:50:07+02:00  1.539
...                                                               ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-29 23:09:08+02:00  1.539
                                     2021-08-29 23:10:07+02:00  1.539
                                     2021-08-29 23:12:07+02:00  1.539
                                     2021-08-29 23:17:09+02:00  1.539
                                     2021-08-29 23:19:08+02:00  1.539

                                                                diesel_is_selling
station                              date
005056ba-7cb6-1ed2-bceb-7e82e4910d2a 2021-08-29 00:12:08+02:00                  1  \
                                     2021-08-29 00:36:05+02:00                  1
                                     2021-08-29 00:38:10+02:00                  1
                                     2021-08-29 00:53:09+02:00                  1
                                     2021-08-29 04:50:07+02:00                  1
...                                                                           ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-29 23:09:08+02:00                  1
                                     2021-08-29 23:10:07+02:00                  1
                                     2021-08-29 23:12:07+02:00                  1
                                     2021-08-29 23:17:09+02:00                  1
                                     2021-08-29 23:19:08+02:00                  1

                                                                e5_is_selling
station                              date
005056ba-7cb6-1ed2-bceb-7e82e4910d2a 2021-08-29 00:12:08+02:00              1  \
                                     2021-08-29 00:36:05+02:00              1
                                     2021-08-29 00:38:10+02:00              1
                                     2021-08-29 00:53:09+02:00              1
                                     2021-08-29 04:50:07+02:00              1
...                                                                       ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-29 23:09:08+02:00              1
                                     2021-08-29 23:10:07+02:00              1
                                     2021-08-29 23:12:07+02:00              1
                                     2021-08-29 23:17:09+02:00              1
                                     2021-08-29 23:19:08+02:00              1

                                                                e10_is_selling
station                              date
005056ba-7cb6-1ed2-bceb-7e82e4910d2a 2021-08-29 00:12:08+02:00               1
                                     2021-08-29 00:36:05+02:00               1
                                     2021-08-29 00:38:10+02:00               1
                                     2021-08-29 00:53:09+02:00               1
                                     2021-08-29 04:50:07+02:00               1
...                                                                        ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-29 23:09:08+02:00               1
                                     2021-08-29 23:10:07+02:00               1
                                     2021-08-29 23:12:07+02:00               1
                                     2021-08-29 23:17:09+02:00               1
                                     2021-08-29 23:19:08+02:00               1

[66458 rows x 6 columns]

,diesel,e5,e10,diesel_is_selling,e5_is_selling,e10_is_selling
date,,,,,,
2021-08-30 00:36:04+02:00,1.359,1.559,1.549,1,1,0
2021-08-30 00:42:09+02:00,1.359,1.559,1.549,1,1,0
2021-08-30 00:53:08+02:00,1.359,1.559,1.549,1,1,0
2021-08-30 04:17:08+02:00,1.359,1.559,1.549,1,1,0
2021-08-30 04:37:08+02:00,1.359,1.559,1.549,1,1,0
...,...,...,...,...,...,...
2021-08-30 23:10:09+02:00,1.359,1.559,1.549,1,1,0
2021-08-30 23:11:07+02:00,1.359,1.559,1.549,1,1,0
2021-08-30 23:13:07+02:00,1.359,1.559,1.549,1,1,0
2021-08-30 23:19:08+02:00,1.359,1.559,1.549,1,1,0
2021-08-30 23:37:06+02:00,1.359,1.559,1.549,1,1,0

In [680]:
display(rawprocessor.last_processed[(rawprocessor.last_processed == 0).any(axis=1)])

                                                                diesel     e5
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00   1.359  1.559  \
                                     2021-08-30 00:42:09+02:00   1.359  1.559
                                     2021-08-30 00:53:08+02:00   1.359  1.559
                                     2021-08-30 04:17:08+02:00   1.359  1.559
                                     2021-08-30 04:37:08+02:00   1.359  1.559
...                                                                ...    ...
82119d5d-775f-42af-ac56-000d7c91413f 2021-08-30 23:10:09+02:00   1.709  1.909
                                     2021-08-30 23:11:07+02:00   1.709  1.909
                                     2021-08-30 23:13:07+02:00   1.709  1.909
                                     2021-08-30 23:19:08+02:00   1.709  1.909
                                     2021-08-30 23:37:06+02:00   1.709  1.909

                                                                  e10
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00  1.549  \
                                     2021-08-30 00:42:09+02:00  1.549
                                     2021-08-30 00:53:08+02:00  1.549
                                     2021-08-30 04:17:08+02:00  1.549
                                     2021-08-30 04:37:08+02:00  1.549
...                                                               ...
82119d5d-775f-42af-ac56-000d7c91413f 2021-08-30 23:10:09+02:00  1.619
                                     2021-08-30 23:11:07+02:00  1.619
                                     2021-08-30 23:13:07+02:00  1.619
                                     2021-08-30 23:19:08+02:00  1.619
                                     2021-08-30 23:37:06+02:00  1.619

                                                                diesel_is_selling
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00                  1  \
                                     2021-08-30 00:42:09+02:00                  1
                                     2021-08-30 00:53:08+02:00                  1
                                     2021-08-30 04:17:08+02:00                  1
                                     2021-08-30 04:37:08+02:00                  1
...                                                                           ...
82119d5d-775f-42af-ac56-000d7c91413f 2021-08-30 23:10:09+02:00                  1
                                     2021-08-30 23:11:07+02:00                  1
                                     2021-08-30 23:13:07+02:00                  1
                                     2021-08-30 23:19:08+02:00                  1
                                     2021-08-30 23:37:06+02:00                  1

                                                                e5_is_selling
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00              1  \
                                     2021-08-30 00:42:09+02:00              1
                                     2021-08-30 00:53:08+02:00              1
                                     2021-08-30 04:17:08+02:00              1
                                     2021-08-30 04:37:08+02:00              1
...                                                                       ...
82119d5d-775f-42af-ac56-000d7c91413f 2021-08-30 23:10:09+02:00              1
                                     2021-08-30 23:11:07+02:00              1
                                     2021-08-30 23:13:07+02:00              1
                                     2021-08-30 23:19:08+02:00              1
                                     2021-08-30 23:37:06+02:00              1

                                                                e10_is_selling
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00               0
                                     2021-08-30 00:42:09+02:00               0
                                     2021-08-30 00:53:08+02:00               0
                                     2021-08-30 04:17:08+02:00               0
                                     2021-08-30 04:37:08+02:00               0
...                                                                        ...
82119d5d-775f-42af-ac56-000d7c91413f 2021-08-30 23:10:09+02:00               0
                                     2021-08-30 23:11:07+02:00               0
                                     2021-08-30 23:13:07+02:00               0
                                     2021-08-30 23:19:08+02:00               0
                                     2021-08-30 23:37:06+02:00               0

[2162 rows x 6 columns]

In [681]:
rawprocessor.last_processed.groupby(level='station').tail(1).reset_index(level='date')

,date,diesel,e5,e10,diesel_is_selling,e5_is_selling,e10_is_selling
station,,,,,,,
00041414-208c-4444-8888-acdc00000414,2021-08-30 23:37:06+02:00,1.359,1.559,1.549,1,1,0
005056ba-7cb6-1ed2-bceb-7e82e4910d2a,2021-08-30 23:37:06+02:00,1.359,1.599,1.539,1,1,1
005056ba-7cb6-1ed2-bceb-7ef561844d2a,2021-08-30 23:37:06+02:00,1.389,1.589,1.529,1,1,1
005056ba-7cb6-1ed2-bceb-80c585ca6d2b,2021-08-30 23:37:06+02:00,1.389,1.599,1.539,1,1,1
005056ba-7cb6-1ed2-bceb-82ea369c0d2d,2021-08-30 23:37:06+02:00,1.369,1.589,1.529,1,1,1
...,...,...,...,...,...,...,...
fa6624d4-7bb9-4b17-9e56-31e0040428d1,2021-08-30 23:37:06+02:00,1.409,1.649,1.589,1,1,1
fbcdf8a7-b6ba-4ec3-ac4c-dde2f0f29934,2021-08-30 23:37:06+02:00,1.369,1.589,1.529,1,1,1
fcdaddc5-7dc1-49f9-8286-71e8664f9e17,2021-08-30 23:37:06+02:00,1.349,1.569,1.509,1,1,1
fd99c048-3b6b-4943-8b93-838daefba76b,2021-08-30 23:37:06+02:00,1.419,1.659,1.599,1,1,1
ff55d404-3609-48b2-b16a-ef4a9f2008a0,2021-08-30 23:37:06+02:00,1.349,1.559,1.499,1,1,1

In [682]:
rawprocessor.last_processed

                                                                diesel     e5
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00   1.359  1.559  \
                                     2021-08-30 00:42:09+02:00   1.359  1.559
                                     2021-08-30 00:53:08+02:00   1.359  1.559
                                     2021-08-30 04:17:08+02:00   1.359  1.559
                                     2021-08-30 04:37:08+02:00   1.359  1.559
...                                                                ...    ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-30 23:10:09+02:00   1.349  1.559
                                     2021-08-30 23:11:07+02:00   1.349  1.559
                                     2021-08-30 23:13:07+02:00   1.349  1.559
                                     2021-08-30 23:19:08+02:00   1.349  1.559
                                     2021-08-30 23:37:06+02:00   1.349  1.559

                                                                  e10
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00  1.549  \
                                     2021-08-30 00:42:09+02:00  1.549
                                     2021-08-30 00:53:08+02:00  1.549
                                     2021-08-30 04:17:08+02:00  1.549
                                     2021-08-30 04:37:08+02:00  1.549
...                                                               ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-30 23:10:09+02:00  1.499
                                     2021-08-30 23:11:07+02:00  1.499
                                     2021-08-30 23:13:07+02:00  1.499
                                     2021-08-30 23:19:08+02:00  1.499
                                     2021-08-30 23:37:06+02:00  1.499

                                                                diesel_is_selling
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00                  1  \
                                     2021-08-30 00:42:09+02:00                  1
                                     2021-08-30 00:53:08+02:00                  1
                                     2021-08-30 04:17:08+02:00                  1
                                     2021-08-30 04:37:08+02:00                  1
...                                                                           ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-30 23:10:09+02:00                  1
                                     2021-08-30 23:11:07+02:00                  1
                                     2021-08-30 23:13:07+02:00                  1
                                     2021-08-30 23:19:08+02:00                  1
                                     2021-08-30 23:37:06+02:00                  1

                                                                e5_is_selling
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00              1  \
                                     2021-08-30 00:42:09+02:00              1
                                     2021-08-30 00:53:08+02:00              1
                                     2021-08-30 04:17:08+02:00              1
                                     2021-08-30 04:37:08+02:00              1
...                                                                       ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-30 23:10:09+02:00              1
                                     2021-08-30 23:11:07+02:00              1
                                     2021-08-30 23:13:07+02:00              1
                                     2021-08-30 23:19:08+02:00              1
                                     2021-08-30 23:37:06+02:00              1

                                                                e10_is_selling
station                              date
00041414-208c-4444-8888-acdc00000414 2021-08-30 00:36:04+02:00               0
                                     2021-08-30 00:42:09+02:00               0
                                     2021-08-30 00:53:08+02:00               0
                                     2021-08-30 04:17:08+02:00               0
                                     2021-08-30 04:37:08+02:00               0
...                                                                        ...
ff55d404-3609-48b2-b16a-ef4a9f2008a0 2021-08-30 23:10:09+02:00               1
                                     2021-08-30 23:11:07+02:00               1
                                     2021-08-30 23:13:07+02:00               1
                                     2021-08-30 23:19:08+02:00               1
                                     2021-08-30 23:37:06+02:00               1

[77698 rows x 6 columns]

In [683]:
from src.config.paths import PRICES_DIR, PROCESSED_PRICES
from src.config.paths import STATIONS_DIR, PROCESSED_STATIONS
from src.config.paths import META_DIR, SAMPLE_DIR

dus_stations_data = pd.read_csv(SAMPLE_DIR / 'stations' / 'stations_dus_plus.csv')
dus_stations = dus_stations_data.uuid

In [684]:
# data_processed\prices\2021\08\2021-08-29-prices.csv
# data_processed\prices\2021\08\2021-08-30-prices.csv
# data_processed\prices\2021\08\2021-08-31-prices.csv

In [685]:
# Features:
# relative prices
# opening hours + dummies
# holiday dummies
# school-holyday dummies
# crude oil
# with bins: change count/hour

# Meta
# Average Price per day (per product)
# Trade Frequency
# was this a holiday
# was this a schoolholiday
# year
# month
# day
# weekday
# average crude oil price that day

# Processing
# bin dates
# Split into 3 prices (more data but faster processing maybe?)
# make additional features independent  at first

In [686]:
# ADD PRICE CHANGES PER DAY FOR EACH STATION TO THE CLOSING TABLE
# CONVERT DATE TO ONLY DAY-DATE
# APPEND TO THE EXISTING 'CLOSING_PRICES.CSV'
from pathlib import Path
import pandas as pd
import os
from collections import deque

def save_closing_prices(df, file_path, date='date'):
    file_path = Path(file_path)
    
    # If the file doesn't exist, write the DataFrame to a new CSV file
    if not file_path.is_file():        
        df.to_csv(file_path, index=True)

    # If it does exist, compare the last line of the CSV File with the last line of the DataFrame df
    else:
        with open(file_path, "r") as file:
            last_line = deque(file, 1)[0]

        # Making sure the lines format is comparable 
        # CURRENTLY ONLY WORKS WITH DATE ON COLUMN INDEX 1
        old_timestamp = pd.to_datetime(last_line.split(',')[1])
        new_timestamp = pd.to_datetime(df[date].max())
        
        # If the new data is not already in the CSV File, append the DataFrame and safe the CSV file.
        if new_timestamp <= old_timestamp:
            print("Some data already exists in the CSV file. Data was not appended.")
        else:
            df.to_csv(file_path, mode='a', header=False, index=True)

In [687]:
def get_meta_table(df):
    # if csv exists, just open that
    # if not create a new pd.DataFrame
    # add #observations
    # add 
    pass

In [688]:
# CREATE A METATABLE WITH DAILY SUMMARY:
# - ACTIVE STATIONS
# - NUMBER OF TIMESTAMPS
def add_to_meta_table():
    # open closing table file
    # append daily meta DataFrame
    # save file
    pass

In [689]:
# active_stations = prices_data09.station_uuid.unique()
# active_stations_sample = np.random.choice(active_stations, size=100)
# pds = prices_df.query('station_uuid in @active_stations_sample')
# pds



# create a table that carries all stations for each hour of the day

# group by the hour of the day, take the average price if a station is occuring more than once during that time

# if a station occurs, check the *change columns if its a 2 or a 3, and if yes, check if the price is actually different from the previous hour of if prices have just been re-reported

# if prices changed then make a 1 in the price-changed-dummies

# if there are multiple occurences of the same station within one hour, check which prices changed and make en entry for the respective dummy

# if there are multiple occurences of the same station within one hour, for each of the 3 fuel prices, count how often it changed

# take a batch for each hour of the day

# check 

# df = pd.merge(df, pds, how='left', on=['date', 'station_uuid']).set_index(['date', 'station_uuid'])